@charset "utf-8";
/* CSS Document */

body,div,p,ol,ul,li,dl,dt,dd,form,table,tr,td,hr,h1,h2,h3,h4,h5,h6,fieldset,img,input,figure{
	margin:0;
	padding:0;
}
body{
  font-family: "Microsoft YaHei",Arial;
}
a{
	text-decoration: none;
}
ul,ol{
	list-style: none;
}
img{
	border: none;
	display: block;
}
//头部
.head{
	width: 100%;
	height: 36px;
	background: #f7f7f7;
	border-bottom:1px solid #ede9eb;
}
.header{
	width:1200px;
	height:36px;
	margin: 0 auto;
	overflow: hidden;
	a{
		padding:0 11px;
		font-size:12px;
		line-height:36px;
	}
}
.header_left{
	float: left;
	a{
		color:#fe8500;
	}
	a:first-child{
		border-right:1px solid orange;
	}
}
.header_right{
	float: right;
	a{
		color:#747474;
		border-right:1px solid #ede9eb;
	}
	a:hover{
		color:#fe8500;
	}
	a:last-child{
		border-right: none;
	}
}
//搜索
.search{
	width: 100%;
	height: 110px;
	.search_center{
		width: 1200px;
		margin: 0 auto;
		overflow: hidden;
		.logo{
			float: left;
			img{
				height: 110px;
			}
		}
		.search_center1{
			float: left;
			width: 650px;
			padding-top: 30px;
			overflow: hidden;
			.first{
				float: left;
				line-height: 42px;
				text-align: center;
				width: 84px;
				height: 42px;
				color: #747474;
				border: 3px solid #2eabe5;
				border-right: 1px solid #e8e8e8;
			}
			input:nth-child(2){
				float: left;
				width: 480px;
				height: 42px;
				border-right: none;
				border-left: none;
				border-top: 3px solid #2eabe5;
				border-bottom: 3px solid #2eabe5;
			}
			input:nth-child(3){
				float: left;
				width: 82px;
				height: 48px;
				border: none;
				vertical-align: middle;
				background-color: #2eabe5;
			}
			.hypr{
				width: 650px;
				a{
					font-size: 12px;
					padding: 7px;
					color: #747474;
				}
			}
		}
		.search_right{
			float: left;
			width: 142px;
			height: 42px;
			margin-top: 30px;
			margin-left: 110px;
			border: 1px solid #d1d1d1;
			span{
				display: inline-block;
				position: relative;
				width: 37px;
    			height: 30px;
    			background: url(../img/basic_icon.png) no-repeat 0px 0px;
    			b{
    				position: absolute;
				    top: -2px;
				    right: -2px;
				    display: inline-block;
				    line-height: 16px;
				    height: 16px;
				    min-width: 16px;
				    border-radius: 8px;
				    background-color: #fe8500;
				    text-align: center;
				    font-weight: bold;
				    color: #fff;
    			}
			}
			a{
				font-size: 12px;
				color: #666;
			}
		}
	}
}
//导航
.nav{
	width: 100%;
	.nav_con{
		width: 1200px;
		position: relative;
		text-align: center;
		margin: 0 auto;
		overflow: hidden;
		.nav_left1{
			width: 210px;
			line-height: 40px;
			background-color: #2eabe5;
			float: left;
			a{
				color: white;
			}
		}
		.nav_right1{
			float: left;
			line-height: 40px;
			a{
				text-align: center;
				padding: 15px 36px;
				color: black;
				font-size: 14px;
				font-weight: 700;
			}
		}
	}
}
//菜单栏
.box {
	width: 860px;
	height: 450px;
	height: auto;
	display: none;
	margin-top: 40px;
}
.nav_left {
	width: 210px;
	height: 450px;
	background-color: rgba(0,0,0,0.2);
}

.nav_left ul {
	width: 100%;
	height: auto;
}

.nav_left ul li {
	height: 32px;
	line-height: 32px;
	text-align: left;
}

.nav_left ul li span {
	padding-left: 10px;
	height: 32px;
	line-height: 32px;
	font-size: 14px;
	display: block;
	background: rgba(0,0,0,0.2);
	color: #fff;
}

.nav_left ul li span:hover {
	background: #2eabe5;
}

.nav_right {
	width: 650px;
	height: 450px;
	position: absolute;
	left: 210px;
	top: 0px;
}

.sub {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 430px;
	background: #FFFFFF;
	padding: 10px 0px;
}

.sub dl {
	overflow: hidden;
	padding: 0px 0px 10px 0px;
}

.sub dt {
	width: 100px;
	float: left;
	display: block;
	position: relative;
	clear: left;
}

.sub dt a {
	font-size: 14px;
	color: #000;
	font-weight: bold;
	text-align: center;
	padding-left: 20px;
	text-decoration: none;
	cursor: pointer;
}

.sub dt i {
	width: 4px;
	right: 12px;
	top: 2px;
	font-size: 14px;
	position: absolute;
	font-style: normal;
}

.sub dd {
	width: 680px;
	float: left;
	display: block;
	position: relative;
	overflow: hidden;
	padding-right: 20px;
	border-bottom: 1px dashed #E3E3E3;
}

.sub dd a {
	font-size: 12px;
	float: left;
	color: #666;
	padding: 0 10px;
	margin: 4px 0px 10px 0px;
	text-decoration: none;
	cursor: pointer;
	border-left: 1px solid #E3E3E3;
}

.sub dd a:hover {
	color: #FF0036;
}

.hide {
	display: none;
}

.show {
	display: block;
}
.sect{
	width: 100%;
	.sect_con{
		width: 1150px;
		margin: 0 auto;
		padding: 25px;
		background-color: #fafafa;
	}
}
.content{
	box-shadow: 0 0 5px gray;
	background-color: #fff;
	border: 1px solid #e8e8e8;
	overflow: hidden;
	.conects{
		width: 100%;
		margin: 30px 0 25px 15px;
		a{
			font-size: 12px;
			color: #686461;
		}
		a:hover{
			color:#fe8500;
		}
	}
}
// 放大镜效果

#enlaBox {
	position: relative;
	padding: 10px;
	width: 400px;
	float: left;
}
#small-box {
	overflow: hidden;
}
#small-box img {
	width: 98px;
	height: 98px;
	float: left;
	border: 1px solid #e8e8e8;
}
#small-box .active {
	border-color: white;
}
#middle-box {
	position: relative;
	margin-bottom: 10px;
	height: 400px;
}
#middle-img {
	width: 400px;
	height: 400px;
}
#shadow {
	position: absolute;
	left: -1000px;
	top: 0;
	width: 50%;
	height: 50%;
	background: rgba(0, 0, 0, .3);
	cursor: move;
}
#large-box {
	display: none;
	position: absolute;
	left: 420px;
	top: 10px;
	width: 400px;
	height: 400px;
	overflow: hidden;
}
#large-img {
	position: absolute;
	width: 800px;
	height: 800px;
}

.sect_center{
	float: left;
	width: 432px;
	p:nth-child(1){
		color: #747676;
		font-size: 18px;
		font-weight: 700;
	}
	p:nth-child(2){
		color: #fd8b05;
		margin-top: 34px;
		font-weight: 700;
	}
}

.conecta{
	display: block;
	width: 400px;
	font-size: 12px;
	color: #747676;
	text-align: right;
	span{
		color: #fd8b05;
		font-size: 18px;
	}
}
.sectp{
	width: 380px;
	height: 34px;
	margin-left: 40px;
	font-size: 12px;
	line-height: 34px;
	span{
		float: left;
		line-height: 34px;
	}
	.span9{
		background-image: url(../img/basic_icon.png);
		background-position: -6px 106px;
		width: 80px;
		height: 22px;
	}
	select{
		outline: none;
		width: 124px;
		height: 22px;
	}
	input{
		width: 150px;
		height: 37px;
		border: none;
		font-size: 14px;
		&:nth-child(1){
			background-color: #f5f4f5;
			border: 1px solid #e60f08;
			color: #e60f08;
		}
		&:nth-child(2){
			background-color: #fd8b05;
			margin-left: 10px;
			color: #fff;
		}
	}

}
.span1{
	width: 60px;
	text-align: right;
}
.sect_right{
	float: left;
	width: 240px;
	height: 380px;
	border: 1px solid #e8e8e8;
	h4{
		line-height: 30px;
		padding-left: 15px;
		border-bottom: 1px solid #e8e8e8;
	}
	.sect_top{
		border-bottom: 1px solid #e8e8e8;
		p{
			line-height: 30px;
			margin-left: 15px;
			font-size: 12px;
			color: #747474;
		}
	}
}
.span3{
	display: inline-block;
	height: 16px;
	background-image: url(../img/basic_icon.png);
	text-align: right;
	width: 80px;
}
p:nth-child(1) .span3{
	background-position: -27px 81px;
}
p:nth-child(2) .span3{
	background-position: -6px 99px;
}
p:nth-child(3) .span3{
	background-position: -6px 99px;
}
p:nth-child(4) .span3{
	background-position: -6px 99px;
}
.sect_bottom{
	p{
		width: 225px;
		height: 30px;
		line-height: 30px;
		margin-left: 15px;
		font-size: 12px;
		color: #747474;
		text-align: center;
		a{
			color: #df6411;
		}
		.span1{
			text-align: right;
			width: 60px;
			float: left;
		}
	}
	p:nth-child(5){
		margin-top: 30px;
	}
}
.fengexian{
	width: 1200px;
	height: 2px;
	background-color: #f5f4f5;
	margin: 5px auto 20px;
}
.section01{
	width: 100%;
	.section01_con{
		width: 1200px;
		margin: 0 auto;
		overflow: hidden;
	}
}
.section01_left{
	width: 208px;
	float: left;
	border: 1px solid #e8e8e8;
	h4{
		width: 193px;
		font-size: 14px;
		line-height: 36px;
		padding-left: 15px;
		color: #747676;
		border-bottom: 1px solid #e8e8e8;
	}
	dl{
		width: 208px;
		border-bottom: 1px solid #e8e8e8;
		dt{
			padding-left: 20px;
			line-height: 36px;
			border-bottom: 1px solid #e8e8e8;
			a{
				color: #747676;
			}
		}
		dd{
			padding-left: 30px;
			line-height: 30px;
			font-size: 12px;
			a{
				color: #747676;
			}
		}
	}
}
.section01_right{
	float: left;
	width: 968px;
	margin-left: 20px;
	ul{
		width: 100%;
		overflow: hidden;
		border: 1px solid #e8e8e8;
		li{
			width: 90px;
			height: 40px;
			float: left;
			line-height: 40px;
			font-size: 14px;
			text-align: center;
			border-right: 1px solid #e8e8e8;
		}
		.actives{
			background-image: url(../img/line_bg1.jpg);
			background-position: 2px 38px;
			background-repeat: no-repeat;
		}
		img{
			padding: 10px;
			background-color: #ededed;
		}
	}
	.sec_conect{
		width: 100%;
		overflow: hidden;
		margin-bottom: 10px;
		border: 1px solid #e8e8e8;
		border-top: none;
		a{
			float: left;
			width: 290px;
			line-height: 25px;
			font-size: 12px;
			color: #747676;
			padding-left: 10px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}
.info{
	width: 962px;
	border: 1px solid #747676;
	p{
		width: 960px;
		overflow: hidden;
		border-bottom: 1px solid #747676;

		a{
			float: left;
			width: 114px;
			line-height: 38px;
			text-align: center;
			font-size: 12px;
			color: #2eabe5;
			border-bottom: 2px solid #2eabe5;
		}
		input{
			float: right;
			width: 68px;
			height: 22px;
			font-size: 12px;
			outline: none;
			margin-top: 10px;
			border: none;
			background-color: #fd8b05;
		}
	}
	.infoul{
		width: 960px;
		li{
			width: 960px;
			height: 58px;
			line-height: 25px;
			text-align: left;
			border-bottom: 1px dashed #747676;
		}
	}
}
.mesige{
	width: 960px;
	height: 280px;
	margin-top: 10px;
	border: 1px solid #e8e8e8;
	span{
		display: inline-block;
		height: 200px;
		padding: 0 10px;
		line-height: 200px;
	}
}
#txte{
	vertical-align: middle;
	resize:none;
}
#btn{
	width: 80px;
	height: 30px;
	border: none;
	outline: none;
	color: white;
	background-color: green;
	margin-left: 400px;
}
.page{
	line-height: 40px;
	text-align: right;
	font-size: 12px;
	margin: 20px 10px;
	a{
		color: #d1ccc3;
		font-size: 12px;
		padding: 10px;
		border: 1px solid #d1ccc3;
	}
	a:nth-child(3){
		background-color: #2eabe5;
		color: white;
	}
	a:last-child{
		border: none;
		color: #fd8b05;
	}
	input{
		width: 30px;
		height: 30px;
		outline: none;
		border: 1px solid #d1ccc3;
	}
}
//footer
.footer{
	width: 100%;
	.footer_B{
		width: 1200px;
		height: 150px;
		background-color: #fdfdfd;
		margin: 0 auto;
	}
	.footer_C{
		width: 1200px;
		height: 140px;
		padding-top: 45px;
		background-color: #f5f5f7;
		margin: 0 auto;
		p{
			line-height: 24px;
			text-align: center;
			font-size: 12px;
			color: #747474;
			img{
				float: left;
				height: 29px;
			}
		}
		p:last-child{
			width: 171px;
			margin: 0 auto;
		}
	}
}