@charset "utf-8";
/* CSS Document */

body,div,p,ol,ul,li,dl,dt,dd,form,table,tr,td,hr,h1,h2,h3,h4,h5,h6,fieldset,img,input,figure{
	margin:0;
	padding:0;
}
body{
  font-family: "Microsoft YaHei",Arial;
}
a{
	text-decoration: none;
}
ul,ol{
	list-style: none;
}
img{
	border: none;
	display: block;
}
//头部
.head{
	width: 100%;
	height: 36px;
	background: #f7f7f7;
	border-bottom:1px solid #ede9eb;
}
.header{
	width:1200px;
	height:36px;
	margin: 0 auto;
	overflow: hidden;
	a{
		padding:0 11px;
		font-size:12px;
		line-height:36px;
	}
}
.header_left{
	float: left;
	a{
		color:#fe8500;
	}
	a:first-child{
		border-right:1px solid orange;
	}
}
.header_right{
	float: right;
	a{
		color:#747474;
		border-right:1px solid #ede9eb;
	}
	a:hover{
		color:#fe8500;
	}
	a:last-child{
		border-right: none;
	}
}
//搜索
.search{
	width: 100%;
	height: 110px;
	.search_center{
		width: 1200px;
		margin: 0 auto;
		overflow: hidden;
		.logo{
			float: left;
			img{
				height: 110px;
			}
		}
		.search_center1{
			float: left;
			width: 650px;
			padding-top: 30px;
			overflow: hidden;
			.first{
				float: left;
				line-height: 42px;
				text-align: center;
				width: 84px;
				height: 42px;
				color: #747474;
				border: 3px solid #2eabe5;
				border-right: 1px solid #e8e8e8;
			}
			input:nth-child(2){
				float: left;
				width: 480px;
				height: 42px;
				border-right: none;
				border-left: none;
				border-top: 3px solid #2eabe5;
				border-bottom: 3px solid #2eabe5;
			}
			input:nth-child(3){
				float: left;
				width: 82px;
				height: 48px;
				border: none;
				vertical-align: middle;
				background-color: #2eabe5;
			}
			.hypr{
				width: 650px;
				a{
					font-size: 12px;
					padding: 7px;
					color: #747474;
				}
			}
		}
		.search_right{
			float: left;
			width: 142px;
			height: 42px;
			margin-top: 30px;
			margin-left: 110px;
			border: 1px solid #d1d1d1;
			span{
				display: inline-block;
				position: relative;
				width: 37px;
    			height: 30px;
    			background: url(../img/basic_icon.png) no-repeat 0px 0px;
    			b{
    				position: absolute;
				    top: -2px;
				    right: -2px;
				    display: inline-block;
				    line-height: 16px;
				    height: 16px;
				    min-width: 16px;
				    border-radius: 8px;
				    background-color: #fe8500;
				    text-align: center;
				    font-weight: bold;
				    color: #fff;
    			}
			}
			a{
				font-size: 12px;
				color: #666;
			}
		}
	}
}
//导航
.nav{
	width: 100%;
	.nav_con{
		width: 1200px;
		position: relative;
		text-align: center;
		margin: 0 auto;
		overflow: hidden;
		.nav_left1{
			width: 210px;
			line-height: 40px;
			background-color: #2eabe5;
			float: left;
			a{
				color: white;
			}
		}
		.nav_right1{
			float: left;
			line-height: 40px;
			a{
				text-align: center;
				padding: 15px 36px;
				color: black;
				font-size: 14px;
				font-weight: 700;
			}
		}
	}
}
//菜单栏
.box {
	width: 860px;
	height: 450px;
	height: auto;
	display: none;
	margin-top: 40px;
}
.nav_left {
	width: 210px;
	height: 450px;
	background-color: rgba(0,0,0,0.2);
}

.nav_left ul {
	width: 100%;
	height: auto;
}

.nav_left ul li {
	height: 32px;
	line-height: 32px;
	text-align: left;
}

.nav_left ul li span {
	padding-left: 10px;
	height: 32px;
	line-height: 32px;
	font-size: 14px;
	display: block;
	background: rgba(0,0,0,0.2);
	color: #fff;
}

.nav_left ul li span:hover {
	background: #2eabe5;
}

.nav_right {
	width: 650px;
	height: 450px;
	position: absolute;
	left: 210px;
	top: 0px;
}

.sub {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 430px;
	background: #FFFFFF;
	padding: 10px 0px;
}

.sub dl {
	overflow: hidden;
	padding: 0px 0px 10px 0px;
}

.sub dt {
	width: 100px;
	float: left;
	display: block;
	position: relative;
	clear: left;
}

.sub dt a {
	font-size: 14px;
	color: #000;
	font-weight: bold;
	text-align: center;
	padding-left: 20px;
	text-decoration: none;
	cursor: pointer;
}

.sub dt i {
	width: 4px;
	right: 12px;
	top: 2px;
	font-size: 14px;
	position: absolute;
	font-style: normal;
}

.sub dd {
	width: 680px;
	float: left;
	display: block;
	position: relative;
	overflow: hidden;
	padding-right: 20px;
	border-bottom: 1px dashed #E3E3E3;
}

.sub dd a {
	font-size: 12px;
	float: left;
	color: #666;
	padding: 0 10px;
	margin: 4px 0px 10px 0px;
	text-decoration: none;
	cursor: pointer;
	border-left: 1px solid #E3E3E3;
}

.sub dd a:hover {
	color: #FF0036;
}

.hide {
	display: none;
}

.show {
	display: block;
}
//第三部分
.section01{
	width: 100%;
	.section01_con{
		width: 1200px;
		margin: 0 auto;
		overflow: hidden;
	}
}
.section01_left{
	width: 208px;
	float: left;
	border: 1px solid #e8e8e8;
	h4{
		width: 193px;
		font-size: 14px;
		line-height: 36px;
		padding-left: 15px;
		color: #747676;
		border-bottom: 1px solid #e8e8e8;
	}
	dl{
		width: 208px;
		border-bottom: 1px solid #e8e8e8;
		dt{
			padding-left: 20px;
			line-height: 36px;
			border-bottom: 1px solid #e8e8e8;
			a{
				color: #747676;
			}
		}
		dd{
			padding-left: 30px;
			line-height: 30px;
			font-size: 12px;
			a{
				color: #747676;
			}
		}
	}
}
.section01_right{
	float: left;
	width: 968px;
	margin-left: 20px;
	.menu{
		width: 960px;
		border: 1px solid #e8e8e8;
		p{
			height: 35px;
			border-bottom: 1px dashed #dfdfdf;
			&:nth-child(n+3){
				display: none;
			}
			&:last-child{
				display: block;
				width: 940px;
				border-bottom: none;
				height: 20px;
				background-color: #fafafa;
			}
			span{
				display: inline-block;
				line-height: 36px;
				width: 96px;
				font-size: 12px;
				color: #746b6e;
				padding-left: 20px;
				background-color: #fafafa;
			}
			.last{
				width: 940px;
				height: 20px;
				background-image: url(../img/jiantou_down.jpg);
				background-repeat: no-repeat;
				background-position: center center;
			}
			a{
				display: inline-block;
				width: 150px;
				color: #746b6e;
				font-size: 12px;
				padding-left: 5px;
				line-height: 36px;
			}
			input{
				width: 130px;
				height: 22px;
				color: white;
				border: none;
				outline: none;
				background-color: #fe8500;
				margin: 6px 10px;
			}
		}

	}
}
.rank{
	width: 958px;
	height: 34px;
	background-color: #fafafa;
	border: 1px solid #dfdfdf;
	margin-top: 10px;
	a{
		display: inline-block;
		width: 104px;
		text-align: center;
		line-height: 34px;
		font-size: 12px;
		color: #747676;
		border-right: 1px solid #dfdfdf;
	}
	a:nth-child(5){
		margin-left: 190px;
	}
	a:last-child{
		border-right: none;
	}
	a:hover{
		background-color: #fe8500;
		color: white;
	}
}
.goodslist{
	overflow: hidden;
	width: 980px;
	margin-top: 10px;
	.goods:nth-child(4n+1){
		margin-left: 2px;
	}
}
.goods{
	width: 220px;
	height: 405px;
	padding: 10px;
	margin: 2px 0;
	border-top: 1px dashed #e8e8e8;
	float: left;
	p{
		width: 220px;
		line-height: 24px;
		color: #72756c;
		font-size: 12px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow:ellipsis;
		a{
			font-size: 12px;
			color: #72756c;
		}
		a:hover{
			color: #fc8703;
		}
	}
	.imgs{
		width: 220px;
		text-align: center;
		img{
			width: 220px;
			height: 260px;
		}
	}
	#imgs{
		display: inline-block;
		vertical-align: middle;
		margin-left: 75px;
	}
	.aps{
		margin-top: 18px;
	}
	.title{
		width: 220px;
	}
	.classific{
		width: 80px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow:ellipsis;
	}
	.price{
		font-size: 16px;
		color: #fc8703;
	}
	.num{
		font-weight: 700;
		color: red;
	}
	.eval{
		display: inline-block;
		background-image: url(../img/basic_icon.png);
		background-position: -6px 106px;
		width: 80px;
		height: 22px;
	}
	.car{
		margin-left: 10px;
		color: #26a8dc;
	}
}
.goods:nth-child(1){
	border-top: none;
}
.goods:nth-child(2){
	border-top: none;
}
.goods:nth-child(3){
	border-top: none;
}
.goods:nth-child(4){
	border-top: none;
}
.goods:hover{
	box-shadow: 0 0 5px gray;
	border-top: none;
}

.page{
	line-height: 40px;
	text-align: right;
	font-size: 12px;
	margin: 20px 10px;
	a{
		color: #d1ccc3;
		font-size: 12px;
		padding: 10px;
		border: 1px solid #d1ccc3;
	}
	a:nth-child(3){
		background-color: #2eabe5;
		color: white;
	}
	a:last-child{
		border: none;
		color: #fd8b05;
	}
	a:hover{
		color: #fb8300;
	}
	input{
		width: 30px;
		height: 30px;
		outline: none;
		border: 1px solid #d1ccc3;
	}
}
//footer
.footer{
	width: 100%;
	.footer_B{
		width: 1200px;
		height: 150px;
		background-color: #fdfdfd;
		margin: 0 auto;
	}
	.footer_C{
		width: 1200px;
		height: 140px;
		padding-top: 45px;
		background-color: #f5f5f7;
		margin: 0 auto;
		p{
			line-height: 24px;
			text-align: center;
			font-size: 12px;
			color: #747474;
			img{
				float: left;
				height: 29px;
			}
		}
		p:last-child{
			width: 171px;
			margin: 0 auto;
		}
	}
}