@charset "utf-8";
/* CSS Document */

body,div,p,ol,ul,li,dl,dt,dd,form,table,tr,td,hr,h1,h2,h3,h4,h5,h6,fieldset,img,input,figure{
	margin:0;
	padding:0;
}
body{
  font-family: "Microsoft YaHei",Arial;
}
a{
	text-decoration: none;
}
ul,ol{
	list-style: none;
}
img{
	border: none;
	display: block;
}
//头部
.head{
	width: 100%;
	height: 36px;
	background: #f7f7f7;
	border-bottom:1px solid #ede9eb;
}
.header{
	width:1200px;
	height:36px;
	margin: 0 auto;
	overflow: hidden;
	a{
		padding:0 11px;
		font-size:12px;
		line-height:36px;
	}
}
.header_left{
	float: left;
	a{
		color:#fe8500;
	}
	a:first-child{
		border-right:1px solid orange;
	}
}
.header_right{
	float: right;
	a{
		color:#747474;
		border-right:1px solid #ede9eb;
	}
	a:hover{
		color:#fe8500;
	}
	a:last-child{
		border-right: none;
	}
}

//导航
.infos{
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	.logo{
		float: left;
		img{
			height: 110px;
		}
	}
	.trees{
		float: right;
		padding-top: 50px;
	}
}
.titleh1{
	width: 1200px;
	height: 30px;
	margin: 15px auto;
	span:nth-child(1){
		display: inline-block;
		width: 37px;
		height: 30px;
		background: url(../img/basic_icon.png) no-repeat 0px 0px;
	}
	span:nth-child(2){
		display: inline-block;
		font-size: 18px;
		width: 100px;
		line-height: 30px;
	}
}
.titles{
	display: block;
	width: 1185px;
	padding-left: 15px;
	margin: 0 auto;
	color: #ffffff;
	font-size: 14px;
	background-color: #2eabe5;
	input{
		vertical-align: middle;
	}
	span{
		display: inline-block;
		width: 130px;
		padding-left: 5px;
		line-height: 40px;
	}
	span:nth-child(2){
		margin-right: 380px;
	}
}
.goods{
	width: 1180px;
	padding: 10px;
	margin: 10px auto;
	overflow: hidden;
	.lis{
		border: 1px solid #e8e8e8;
		margin-bottom: 10px;
		h4{
			width: 1180px;
			color: #747474;
			vertical-align: middle;
			span{
				font-size: 12px;
				line-height: 43px;
				margin-left: 10px;
				display: inline-block;
			}
			img{
				margin-left: 10px;
				display: inline-block;
				vertical-align: middle;
			}
		}
	}
}
.goodsli{
	width: 1180px;
	overflow: hidden;
	li{
		font-size: 12px;
		color: #747474;
		float: left;
		width: 130px;
		padding-left: 10px;
		padding-top: 28px;
		.imgs{
			width: 64px;
			height: 64px;
			padding-top: 28px;
			img{
				width: 64px;
				height: 64px;
			}
		}
		a{
			font-size: 12px;
			display: block;
			line-height: 28px;
			color: #747474;
			width: 130px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.add,.reduce{
			width: 26px;
			height: 26px;
		}
		.tex{
			width: 42px;
			height: 22px;
		}
	}
	li:nth-child(1){
		width: 48px;
		padding-top: 50px;
	}
	li:nth-child(2){
		width: 70px;
		padding: 3px;
	}
	li:nth-child(3){
		width: 230px;
		margin-right: 153px;
	}
}
.settle{
	width: 1200px;
	margin: 0 auto;
	background-color: #e8e8e8;
	overflow: hidden;
	font-size: 12px;
	line-height: 50px;
	p:nth-child(1){
		float: left;
		margin-left: 25px;
		input{
			vertical-align: middle;
			margin-right: 5px;
		}
	}
	p:nth-child(2){
		float: right;
		margin-right: 25px;
		span{
			color: red;
			font-size: 16px;
		}
		input{
			width: 125px;
			height: 45px;
			border: none;
			vertical-align: middle;
			margin-left: 10px;
			color:white;
			font-size: 18px;
			background-color: #fe8500;
		}
	}
}
//footer
.footer{
	width: 100%;
	.footer_B{
		width: 1200px;
		height: 150px;
		background-color: #fdfdfd;
		margin: 0 auto;
	}
	.footer_C{
		width: 1200px;
		height: 140px;
		padding-top: 45px;
		background-color: #f5f5f7;
		margin: 0 auto;
		p{
			line-height: 24px;
			text-align: center;
			font-size: 12px;
			color: #747474;
			img{
				float: left;
				height: 29px;
			}
		}
		p:last-child{
			width: 171px;
			margin: 0 auto;
		}
	}
}